body{
    height: 100 vh;
    width: 100 vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    
}

.board{
    background-color: black;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: repeat(25, 1fr);
}